body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #e7c8a3, #d48d33); /* Gradient from beige to orange */
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/wood-pattern.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

.menu-container {
    padding: 20px;
    text-align: center;
    color: #fff; /* White text color for contrast */
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.section {
    margin: 20px 0;
}

.section h2 {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bold;
}

.section p {
    font-size: 1.2em;
}
